.map {
    width: 600px;
    height: 500px;
    text-align: center;
    margin: 5px;
    border: 1px solid black;
}

.form {
    margin: 0 auto;
}

.form label{
    display: inline-block;
    clear: both;
    width: 50px;
    text-align: left;
    margin: 5px;
}

.form input{
    display: inline-block;
    width: 150px;
    margin: 5px;
}

.container {
    display: inline-block;
    vertical-align: top;
    width: 620px;
}

.container p {
    margin: 5px;
}

.right_coord {
    width: 150px;
}

.crosshair {
    position: absolute;
    top: 240px;
    left: 290px;
}

.home {
    top: 65px;
    left: .5em;
}

.ol-touch .home {
    top: 80px;
}